
<table class="tx-bdag-team-extension" >
	<tr>
		<td>
			<f:translate key="tx_bdagteamextension_domain_model_employee.name" />
		</td>
		<td>
		{employee.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bdagteamextension_domain_model_employee.activity" />
		</td>
		<td>
		{employee.activity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bdagteamextension_domain_model_employee.email" />
		</td>
		<td>
		{employee.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bdagteamextension_domain_model_employee.telephone" />
		</td>
		<td>
		{employee.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bdagteamextension_domain_model_employee.image" />
		</td>
		<td>
			<f:image src="{employee.image.originalResource.publicUrl}" width="200"/>	
				
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bdagteamextension_domain_model_employee.motto" />
		</td>
		<td>
		{employee.motto}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bdagteamextension_domain_model_employee.employment_year" />
		</td>
		<td>
		{employee.employmentYear}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bdagteamextension_domain_model_employee.facebook" />
		</td>
		<td>
		{employee.facebook}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bdagteamextension_domain_model_employee.twitter" />
		</td>
		<td>
		{employee.twitter}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bdagteamextension_domain_model_employee.xing" />
		</td>
		<td>
		{employee.xing}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bdagteamextension_domain_model_employee.description" />
		</td>
		<td>
		{employee.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bdagteamextension_domain_model_employee.hobby" />
		</td>
		<td>
		{employee.hobby}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bdagteamextension_domain_model_employee.career" />
		</td>
		<td>
		{employee.career}
		</td>
	</tr>
</table>